.App {
    text-align: center;

}

.countersBox {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.block {
    margin: 50px auto;
    background-color: rgba(147, 175, 220, 0.84);
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid #000388;
}

.num {
    margin: 20px 5px;
    border: 1px solid #000388;
    border-radius: 10px;
    color: white;
}

.red-num {
    margin: 20px 5px;
    border: 1px solid #000388;
    border-radius: 10px;
    color: red;
}

.inc-button {
    background-color: rgba(0, 3, 136, 0.66);
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50px;
}

.reset-button {
    background-color: rgba(0, 3, 136, 0.66);
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50px;
}

/*--------------------------------------------------------------*/

.block2 {
    margin: 50px auto;
    background-color: rgba(147, 175, 220, 0.84);
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid #000388;
}

.inputStyle {
    text-align: center;
    width: 80px; /* ширина */
    padding: 5px; /* внутренние отступы */
    margin: 10px; /* внешние отступы */
    font-size: 16px; /* размер шрифта */
    border-radius: 4px; /* скругление углов */
    border: 1px solid #000388; /* рамка */
}

.inputErrorStyle {
    text-align: center;
    width: 80px; /* ширина */
    padding: 5px; /* внутренние отступы */
    margin: 10px; /* внешние отступы */
    font-size: 16px; /* размер шрифта */
    border-radius: 4px; /* скругление углов */
    border: 1px solid red; /* рамка */
    background-color: rgba(255, 0, 0, 0.31);
}

.inputWrapper {
    display: flex;
    margin: 5px auto;
}

.inputName {
    font-size: 14px;
}